<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="src/stylesheets/page_menu.css"/>
    <link rel="stylesheet" href="src/stylesheets/main_style.css"/>

    <!-- link extra stylesheets -->
    <% stylesheets.forEach(cssFile => { %>
        <link rel="stylesheet" href="<%= cssFile %>" >
    <% }) %>

    <title><%= locals.title ?? "Untitled Page" %></title>
</head>
<body>
    <div class="Header">
        <h1 class="Main-Title">IL Cubers - Weekly Competition</h1>
        <div class="Page-Menu-Container">
            <ul class="Page-Menu">
                <li id="home-menu-item"><a href="/home">בית</a></li>
                <% if (locals.loggedIn != null && loggedIn) { %>
                    <li id="profile-menu-item"><a href="/profile">פרופיל</a></li>
                <% } else { %>
                    <li id="login-menu-item"><a href="/login">התחברות</a></li>
                <% } %>
                <li id="scrambles-menu-item"><a href="/scrambles">ערבובים</a></li>
            </ul>

            <!-- set the active page in the page menu -->
            <script>document.querySelector(`.Page-Menu li a[href='${window.location.pathname.toLowerCase()}']`)?.parentElement.classList.add("Current-Page");</script>
        </div>
    </div>

    <div class="Content-Container">
        <div id="loading_container" <% if (!locals.loading) { %> hidden <% } %> >
            <h1 class="Title">טוען...</h1>
        </div>

        <div id="content_container" <% if (locals.loading) { %> hidden <% } %> >
            <script src="src/scripts/pages/master_page.js"></script>
            <%- content %>
        </div>
    </div>
</body>
</html>