<h1 class="Title">פרופיל</h1>
<h2 class="Sub-Title">שם:</h2>
<h2 class="Sub-Title">WCA-ID:</h2>
<img src="" id="wca-img" alt="wca image">
<br><br><br>
<button class="Round-Button" id="logout-btn">Log Out</button>