<h1 class="Title" style="color: red;">שגיאה</h1>
<% if (error) { %>
    <h2 class="Sub-Title">מידע על השגיאה:</h2>
    <p><%= error %></p>
<% } else { %>
    <h2 class="Sub-Title">לא נמצא מידע על השגיאה.</h2>
<% }%>
<a href="/home">
    <button>בית</button>
 </a>
