<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="src/stylesheets/page_menu.css"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="src/stylesheets/main_style.css"/>
    <title><%= title %></title>
</head>
<body>
    <div>
        <ul class="Page-Menu">
            <li><a href="/">בית</a></li>
            <li><a href="/login">התחברות</a></li>
        </ul>
    </div>

    <div class="Content">
        <%- content %>
    </div>
</body>
</html>