<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="src/stylesheets/page_menu.css"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="src/stylesheets/main_style.css"/>
    <title><%= locals.title ?? "Untitled Page" %></title>
</head>
<body>
    <div class="Header">
        <h2 class="Main-Title">IL Cubers - Weekly Competition</h2>
        <div class="Page-Menu-Container">
            <ul class="Page-Menu">
                <li><a href="/home">בית</a></li>
                <li><a href="/login">התחברות</a></li>
                <li><a href="/profile">פרופיל</a></li>
            </ul>

            <!-- set the active page in the page menu -->
            <script>document.querySelector(`.Page-Menu li a[href='${window.location.pathname.toLowerCase()}']`).parentElement.classList.add("Current-Page");</script>
        </div>
    </div>

    <div class="Content-Container">
        <%- content %>
    </div>
</body>
</html>