@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", serif;
    color: black;
    text-align: right;
    direction: rtl;
}

.Title {
    text-align: center;
    font-weight: bolder;
    font-size: 250%;
    color: #043959;
    /*margin: auto auto;*/
}

.Sub-Title {
    margin: 0
}

.Underline {
    text-decoration: underline;
}

body {
    background-color: lightgray;
}