@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", serif;
    color: black;
    text-align: right;
    direction: rtl;
}

.Title {
    text-align: center;
    font-weight: bolder;
    font-size: 500%;
    color: #043959;
}

.Sub-Title {
    font-size: 300%;
    text-decoration: underline;
    margin-right: 5%;
}

.Underline {
    text-decoration: underline;
}

body {
    background-color: lightgray;
}