.Page-Menu {
    border-bottom: 2px solid black;
    list-style-type: none;
    overflow: hidden;
    padding: 0.5em 1em;
}

.Page-Menu li {
    float: right;
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
}

.Page-Menu li a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.Page-Menu li :hover {
    text-decoration: underline;
}

li.Current-Page {
    background-color: powderblue;
}
