:root {
    --button-bg: rgb(173, 216, 230);
    --button-hover-bg: rgb(160, 200, 210);
    --button-disabled-bg: rgb(160, 190, 210);
    --button-selected-bg: rgb(134, 116, 227);
    --preview-hidden-color: rgb(46, 45, 45);
    --panel-bg: rgba(153, 153, 153, 0.25);
    --idle-scramble-bg: rgba(140, 140, 140, 0.25);
    --hover-scramble-bg: rgba(140, 140, 140, 0.45);
    --active-scramble-bg: rgba(140, 140, 140, 0.8);
    --done-scramble-bg: rgba(33, 212, 93, 0.45);
    --done-hover-scramble-bg: rgba(135, 228, 65, 0.8);
    --noedit-done-hover-scramble-bg: hsla(140, 80%, 40%, 0.5);
    --done-active-scramble-bg: rgba(234, 255, 43, 0.7);
    --noedit-done-active-scramble-bg: hsla(140, 80%, 38%, 0.6);
    --done-scramble-bg: rgba(33, 212, 93, 0.45);
}

* {
    overflow-anchor: none;
}

.Back-To-Scrambles-Button, .Next-Scr-Btn, .Prev-Scr-Btn, .Plus-2-Btn, .DNF-Btn, .Submit-Time-Btn, .Check-Solution-BTN {
    transition: scale 0.075s, background-color 0.1s;
    transition-timing-function: ease-in;

    background-color: var(--button-bg);

    border: 2px solid black;
    border-radius: 10px;

    font-size: 180%;

    margin: auto;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover:not(:disabled) {
        transition-timing-function: ease-out;
        background-color: var(--button-hover-bg);
    }
}

.Back-To-Scrambles-Button {
    scale: 0.8;
    padding: 1% 1%;
    margin-bottom: 5px;

    &:hover {
        scale: 0.84;
    }
}

.Next-Scr-Btn, .Prev-Scr-Btn {
    padding: auto 3%;
    text-align: center;
    min-width: 90px;
    box-sizing: border-box;
    padding: 1% 2%;

    &:disabled {
        opacity: 60%;
        background-color: var(--button-disabled-bg);
    }

    &:hover:not(:disabled) {
        scale: 1.04;
    }
}

.Scramble-Number-Title {
    font-size: 165%; text-align: center;
}

/* TODO: FONT!!! */
.Scramble-Text {
    text-align: center;
    font-weight: 550;
    font-size: 1em;
    letter-spacing: 1.05;
    margin: auto;
}

.Scramble-Img {
    text-align: right;
    display: flex;
    place-content: center;
    place-items: center;
    margin-right: 5%;
}

.Scramble-Pair-Container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    margin: auto;
    gap: 4%;
    
    padding-bottom: 1%;

    border-bottom: 2px solid black;

    &[hidden] {
        display: none;
    }
}

.Scramble-Control-Container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}

.Scrambles-Container {
    transition: opacity 0.2s ease-out;
    margin-bottom: 20px;

    &[hide="true"] {
        opacity: 0;
    }
}

.Compete-Container {
    background-color: var(--panel-bg);
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 10%;
}

.Time-Input-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 2%;

    margin-top: 2%;
}

.Time-Input-Field, .Input-Solution-Field {
    direction: ltr;
    margin: auto;
    border-radius: 10px;
    border: none;
    font-weight: 400;

    &:focus {
        outline: none;
    }
}

.Input-Solution-Field {
    letter-spacing: 2px;
    text-align: left;
    width: 85%;
    height: 12rem;
    border-radius: 7px;
    font-size: 200%;
    line-height: 2.2rem;
    padding: 0.5rem;
    resize: none;
}

.Input-And-Penalty-Container {
    display: flex;
    flex-direction: column;

    /* margin-left: 25%; */
    margin-right: 25%;

    & > .Time-Input-Field {
        text-align: center;
        width: 100%;
        font-size: 350%;
    }

    &:not([canEdit]) {
        display: none;

        & > .Preview-And-Submit-Container {
            margin: auto;
        }
    }
}

.Preview-And-Submit-Container {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* margin-right: 20%; */
    margin-left: 20%;

    &:not([canEdit]) {
        margin: auto;
        
        & > .Submit-Time-Btn {
            display: none;
        }
    }
}

.Time-Preview-Lbl {
    transition: scale 0.1s ease-out, opacity 0.2s ease-out;

    font-size: 350%;
    text-align: center;
    direction: ltr;
    font-weight: 400;

    opacity: 0.7;
    scale: 0.9;

    &[showPreview] {
        scale: 1;
        opacity: 1;
    }
}

.Penalty-Select-Container {
    display: flex;
    flex-direction: row;
    gap: 0;

    margin-top: 10px;
    margin-bottom: 10px;

    & > .DNF-Btn {
        margin-right: 10px;
    }

    & > .Plus-2-Btn {
        margin-left: 10px;
    }
}

.Preview-And-Submit-Container, .Input-And-Penalty-Container, .Check-Solution-Container {
    transition: opacity 0.15s ease-out, height 0.2s;
    &[hide="true"] {
        height: 0;
        opacity: 0;
    }

    &:not([hide="true"]) {
        opacity: 1;
    }
}

.DNF-Btn, .Plus-2-Btn, .Submit-Time-Btn, .Check-Solution-BTN {
    &:disabled {
        opacity: 60%;
        background-color: var(--button-disabled-bg);
    }
}

.DNF-Btn, .Plus-2-Btn {
    &[selected="true"]:not(:disabled) {
        opacity: 100%;
        background-color: var(--button-selected-bg);
        scale: 0.95;
    }
}

.Scrambles-Menu-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1%;
    gap: 1vw;
}

.Scramble-Menu-Item {
    transition: background-color 0.2s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 40%;
    font-size: 130%;
    padding: 1% 0.5%;
    margin-bottom: auto;
    border-radius: 10px;

    border: none;
    background-color: var(--idle-scramble-bg);

    & > .Scramble-Menu-Item-Number {
        margin: 0;
        text-align: center;
    }

    & > .Scramble-Menu-Item-Time {
        width: 60%;
        margin: 0;
        text-align: center;
        direction: ltr;
        margin-left: 10%;
    }

    &[disabled="true"] {
        cursor: default;
        opacity: 0.5;

        &:not([done="true"]):hover {
            opacity: 0.53;
            background-color: var(--hover-scramble-bg);
        }
    }

    &:not([disabled="true"]) {
        cursor: pointer;

        &[active="true"] {
            background-color: var(--active-scramble-bg);
    
            &[done="true"] {
                background-color: var(--noedit-done-active-scramble-bg);
                &[canEdit] { background-color: var(--done-active-scramble-bg); }
            }
        }
    
        &:not([active="true"]) {
            &[done="true"] {
                background-color: var(--done-scramble-bg);
        
                &:hover {
                    background-color: var(--noedit-done-hover-scramble-bg);
                    &[canEdit] { background-color: var(--done-hover-scramble-bg); }
                }
            }
        
            &:not([done="true"]):hover {
                background-color: var(--hover-scramble-bg)
            }
        }
    }
}

.Menu-And-Panel-Container {
    transition: opacity 0.15s ease-out;
    &[hide="true"] {
        opacity: 0;
    }

    &:not([hide="true"]) {
        opacity: 1;
    }
}

.Menu-And-Panel-Spinner {
    display: flex;
    place-content: center;

    margin: auto;
    font-size: 625%;
    padding: 4%;

    animation: blinkInOut .5s infinite alternate;

    &[hidden] {
        display: none;
    }
}

@keyframes blinkInOut {
    0% {
        opacity: 0;
        scale: 1;
    }

    100% {
        opacity: 1;
        scale: 1.2;
    }
}

#submitSpinner {
    position:sticky;
    width: 5vw;
    height: 5vw;
    border-width: 7px;
    margin: auto;
}


.FMC-Solution-Input-Container {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    gap: 1rem;

    &:not([canEdit]) {
        & > .Input-Solution-Field {
            display: none;
        }
    }
}

.Check-Solution-BTN {
    padding: 2.5%;
    font-weight: 650%;
}

.Check-Solution-Error-And-Button-Container {
    display: flex;
    flex-direction: column;
    place-content: center;

    gap: 0.4rem;

    width: 40%;
}

.Check-Solution-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &:not([canEdit]) {
        display: none;
    }
}

.Solution-Preview-Label {
    transition: opacity 0.2s ease-out;

    direction: ltr;
    font-size: 1.5rem;
    text-align: left;
    width: 85%;
    margin: auto;
    white-space: pre-wrap;

    &[changed] {
        opacity: 0.7;
    }
}

.FMC-Submit-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2%;

    margin-top: 2%;

    &[hidden] {
        display: none;
    }
}

.FMC-Solution-Error-Label {
    transition: font-size 0.1s ease-out;

    color: red;
    text-align: center;
    font-size: 120%;
    font-weight: 450;

    &[changed] {
        opacity: 0.8;
    }
}
