:root {
    --default-btn-color: rgb(150, 224, 230);
    --disabled-btn-color: rgb(120, 120, 120);
    --hover-btn-color: rgb(140, 190, 200);
    --hover-btn-scale: 1.05
}

#login-btn {
    /* button sizing */
    width: 50%;
    margin: 5% auto;
    box-sizing: border-box;

    /* center button on screen with display: flex */
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* button design */
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    background-color: var(--default-btn-color);

    /* hover transition setup */
    transition: background-color 0.15s, transform 0.1s ease-in-out, width 0.1s;

    & p {
        transition: font-size 0.1s ease-in-out;
        transition-delay: 0s;
        font-size: 300%;
        margin: 5% auto;
        text-align: center;
    }

    &:enabled {
        cursor: pointer;

        &:hover {
            background-color: var(--hover-btn-color);
            transform: scale(var(--hover-btn-scale));
            width: 52%;

            & p {
                font-size: 330%;
            }
        }
    }

    &:disabled {
        cursor: default;

        background-color: var(--disabled-btn-color);
        transform: scale(1);
    }
}


