:root {
    --font-size: 0;
    --event-box-rot: 3deg;
}

.Event-Select-Container {
    /* size */
    width: 100%;
    margin: 3rem auto;
    padding-bottom: 6rem;

    /* flex */
    display: flex;
    flex-direction: row-reverse;
    place-content: end center;
    flex-wrap: wrap;
    gap: 2.4rem;
    row-gap: 4rem;
}

.Event-Select-Box {
    /* size */
    width: 7.5rem;
    height: 7.5rem;
    box-sizing: border-box;
    scale: 1.1;
    rotate: 0;
    padding-top: 1%;
    padding-bottom: 1%;

    /*!* flex (center the icon) *!*/
    display: grid;
    place-content: center;

    /* border */
    border: 0.2rem solid black;
    border-radius: 10px;

    /* animation */
    transition: scale 0.2s, rotate 0.1s, background-color 0.15s;
    transition-timing-function: linear;

    /* cursor */
    cursor: pointer;

    &:hover {
        transition: scale 0.07s, rotate 0.12s;
        transition-timing-function: ease-out;
        transition-delay: 0s;
        scale: 1.17;
        background-color: rgba(100, 100, 100, 0.2);
        rotate: var(--event-box-rot);

        & .Cubing-Icon {
            transition: opacity 0.2s ease-out;
            opacity: 0.8;
        }

        & .Event-Name-Title {
            display: block;
            transition: opacity 0.1s ease-out;
            opacity: 1;
        }
    }
}

/* icons */
.Cubing-Icon, .Event-Name-Title {
    /* positioning in "grid" */
    grid-column: 1;
    grid-row: 1;

    text-align: center;
    padding: 2px;
    margin: auto;
    width: fit-content;
    box-sizing: content-box;

    /* animation */
    transition: opacity 0.1s ease-out;
}

.Cubing-Icon {
    font-size: 5.75rem;
}

.Event-Name-Title {
    /* prevent hovering over text */
    pointer-events: none;

    box-sizing: border-box;
    font-size: var(--font-size, 1rem);
    font-weight: 500;
    text-wrap: nowrap;

    padding-left: 2rem;
    padding-right: 2rem;

    text-align: center;
    vertical-align: text-bottom;
    position: relative;
    top: -5.3rem;

    margin: auto auto 1.5rem auto;

    transition: opacity 0.15s ease-in;
    opacity: 0;
}

