@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --text-blue: #043959;
    --button-border-radius: 10px;
    --bg-header: #0057E1;
    --bg-body: lightgray;

    /* buttons */
    --button-bg: rgb(173, 216, 230);
    --button-hover-bg: rgb(160, 200, 210);
    --button-disabled-bg: rgb(160, 190, 210);
}

* {
    font-family: "Rubik", serif;
    color: black;
    text-align: right;
    direction: rtl;
}

body {
    background-color: var(--bg-body);
}

.Header {
    background-color: var(--bg-header);
}

.Content-Container {
    opacity: 0;
    animation: fadeIn 0.25s ease-in forwards;
    width: 100%;
    height: 85%;
    padding: 0 10%;
    box-sizing: border-box;
    margin: auto;
}

.Main-Title {
    text-align: center;
    font-weight: bolder;
    font-size: 225%;
    margin: 0 0;

    padding-top: 1rem;
}

.Title {
    text-align: center;
    font-weight: bolder;
    font-size: 500%;
    color: var(--text-blue);
    margin: 1% auto;
}

.Sub-Title {
    font-size: 300%;
    margin: 0;
}

.Paragraph {
    margin: 0;
}

.Underline {
    text-decoration: underline;
}

/* a div with innerText */
.Generic-Button {
    transition: scale 0.075s, background-color 0.1s;
    transition-timing-function: ease-in;

    background-color: var(--button-bg);

    border: 2px solid black;
    border-radius: var(--button-border-radius);

    font-size: 180%;

    padding: 2%;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover:not(:disabled) {
        transition-timing-function: ease-out;
        background-color: var(--button-hover-bg);
    }

    &:disabled {
        opacity: 60%;
        background-color: var(--button-disabled-bg);
    }
}

/* force a single line */
.No-Wrap {
    white-space: nowrap;
}

/* #region Spinner-Styling */

.Spinner {
    border-radius: 50%;
    border: 9px solid #47b8ff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
         spinner-oaa3wk 1.6s infinite linear;
    width: 5rem;
    height: 5rem;
    margin: auto;
 }
 
@keyframes spinner-bulqg1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
}

@keyframes spinner-oaa3wk {
    0% {
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg);
    }
}

/* #endregion */

@keyframes fadeIn {
    to { opacity: 1; }
}

/* endregion */
