<h2 class="Title">לוח בקרה</h2>
<h3 class="Sub-Title">תחרות מספר <%- compNumber %></h3>

<div class="Event-Select-Container">

</div>

<script>
    const compNumber = <%- compNumber %>;
</script>
<script type="module" src="src/scripts/pages/admin-dashboard.js"></script>