<script src="/src/scripts/pages/auth-callback.js"></script>
<h1 class="Title" id="loading_txt">טוען...</h1>

<script>
    // get code from url
    const url = new URL(window.location.href);
    const codeValue = url.searchParams.get("code");
    if (!codeValue) {
        postLog("Error: could not retrieve auth code from url. url: " + url.href);
        window.location = "/login";
    }
    else {
        sendRequest("/authenticateWithCode", { headers: { "auth-code": codeValue } }).then(async (res) => {
            if (res.error) {
                postLog("Error in authentication: \"" + res.error + "\". Redirecting...");
                window.location = "/login";
                return;
            }

            storeLoginData(res);
            await updateAdminPerms();
            window.location = "/profile";
        });
    }
</script>