<% if (eventData) { %>
    <div class="Compete-Container">
        <h1 class="Title"><%- eventData.event.eventTitle %></h1>
        <% eventData.scrambles.forEach(s => { %>
            <p class="Paragraph" style="direction: ltr;"></5-><%- s %></p>
            <br>
        <% }) %>
    </div>
<% } else { %>
    <div class="Not-Found-Container">
        <h1 class="Title">מקצה לא קיים</h1>
        <a href="/scrambles"><button class="Back-To-Scrambles-Button">חזור לערבובים</button>
        </a>
    </div>
<% } %>
