<h1 class="Title">התחברות</h1>
<button id="login-btn">
    <p id="login-btn-txt">
        התחבר עם WCA
    </p>
</button>

<!-- login btn onclick -->
<script>
    onPageLoad(() => {
        if (isLoggedIn()) {
            window.location = "/profile";
            return;
        }
    });

    const loginBtn = document.querySelector("#login-btn");
    const hostnameHeader = "hostname";
    loginBtn.onclick = async () => {
        loginBtn.disabled = true;
    <% if (locals.needHostname) { %>
        const headers = {};
        headers[hostnameHeader] = window.location.origin;
        await sendRequest("/updateHostname", { method: "post", headers: headers });
    <% } %>
        window.location = "<%- auth_path %>";
    }
</script>
