<h1 class="Title">פרופיל</h1>

<div class="DashboardBtnContainer">
    <button class="DashboardBtn Generic-Button No-Wrap" id="dashboardBtn" onclick="location.href = '/admin-dashboard'" hidden>לוח בקרה</button>
</div>

<div class="Data-Container">
    <!-- Name -->
    <div class="User-Property">
        <h2 class="Sub-Title Property-Name">שם:</h2>
        <p class="Sub-title Property-Value" id="name_txt" style="font-size: 180%"></p>
    </div>

    <!-- WCA-id -->
    <div class="User-Property">
        <h2 class="Sub-Title Property-Name">WCA-ID:</h2>
        <p class="Sub-Title Property-Value" id="wca_id_txt" style="font-size: 180%"></p>
    </div>

    <!-- WCA Image -->
    <div class="User-Property">
        <h2 class="Sub-Title">תמונה:</h2>
        <a href="" id="wca_profile_link"><img src="" id="wca_img" alt="wca image" width="200vw"></a>
    </div>

    <div class="Logout-Btn" id="logout_btn">
        <p id="logout_txt">התנתק</p>
    </div>
</div>

<script src="src/scripts/pages/profile.js"></script>
