<h1 class="Title">ערבובים</h1>
<% if (locals.events) { %>
    <div class="Event-Select-Container">
        <% for (let i = 0; i < events.length; i++) { %>
            <div class="Event-Select-Box" id=<%- `event-select-${events[i].eventId}` %> >
                <span class="Cubing-Icon <%- events[i].iconName %>"></span>
                <p class="Event-Name-Title"><%- events[i].eventTitle %></p>
            </div>
        <% } %>

        <script>
            let eventBoxes = document.querySelectorAll(`[id^="event-select"]`);

            function resize2fit(el) {
                // if (!el.parentElement) return;
                el.style.setProperty("--font-size", "1em");
                const {width: max_width, height: max_height} = el.getBoundingClientRect();

                const title = el.querySelector(".Event-Name-Title");
                const {width, height} = title.getBoundingClientRect();

                let size = Math.min(max_width/width, max_height/height);
                if (size < 0.7) {
                    size = 0.7;
                    title.style.textWrap = "wrap";
                }
                else if (size > 1.25) {
                    size = 1.25;
                }

                size = Math.ceil(size*10)/10;
                title.style.setProperty("--font-size", size + "em");
            }

            function resizeEventBoxes() {
                for (let i = 0; i < eventBoxes.length; i++) {
                    resize2fit(eventBoxes[i]);
                }
            }

            window.addEventListener("resize", function(e) {
                resizeEventBoxes();
            });

            resizeEventBoxes();
        </script>
    </div>
<% } else { %>
    <div class="No-Events-Container">
        <h1 class="Sub-Title" style="text-align: center">לא נמצאו מקצים</h1>
        <a href="/home"><button style="transform: scale(1.5);">בית</button></a>
    </div>
<% } %>