<h1 class="Title">ערבובים</h1>
<h4 class="Week-Number-Title">שבוע מספר <%- weekNumber %></h4>
<% if (locals.events) { %>
    <div class="Event-Select-Container">
        <% for (let i = 0; i < events.length; i++) { %>
            <div class="Event-Select-Box" id=<%- `event-select-${events[i].eventId}` %> >
                <span class="Cubing-Icon <%- events[i].iconName %>"></span>
                <p class="Event-Name-Title"><%- events[i].eventTitle %></p>
            </div>
        <% } %>

    <script src="/src/scripts/pages/scrambles.js"></script>
    </div>
<% } else { %>
    <div class="No-Events-Container">
        <h1 class="Sub-Title" style="text-align: center">לא נמצאו מקצים</h1>
        <a href="/home"><button style="transform: scale(1.5);">בית</button></a>
    </div>
<% } %>